aside.main-sidebar.sidebar-dark-primary.elevation-4
    // Brand Logo
    a.brand-link(href='/dashboard')
        img.brand-image.img-circle.elevation-3(src='/cdn/images/nucleus_simple.png' alt='nucleus logo' style='')
        span.brand-text.font-weight-light Nucleus Admin
    // Sidebar
    .sidebar
        // Sidebar user panel (optional)
        if profile
            .user-panel.mt-3.pb-3.mb-3.d-flex
                if profile.picture
                    .image
                    img.img-circle.elevation-2(src=profile.picture alt='User Image')
                    .info
                if profile.name
                    a.d-block(href=profile.href)=profile.name
        // SidebarSearch Form
        if search
            .form-inline
                .input-group(data-widget='sidebar-search')
                    input(type='search' placeholder='Search' aria-label='Search' class=" form-control form-control-sidebar " + search.class_input)
                    .input-group-append
                        button(class=' btn btn-sidebar ' +search.class_button)
                            i.fas.fa-search.fa-fw
        // Sidebar Menu
        nav.mt-2
            if main
                ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
                    //
                        Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library
                    each val in main   
                        if val.type == 'dropdown'   
                            if val.active
                                li.nav-item.menu-open
                                    a.nav-link.active(href='#')
                                        i(class="nav-icon  " + val.icon)
                                        p
                                            | !{val.title}
                                            i.right.fas.fa-angle-left
                                    ul.nav.nav-treeview
                                        if val.items 
                                            each item of val.items
                                                li.nav-item
                                                    a.nav-link(href=item.href)
                                                        i(class='nav-icon '+item.icon)
                                                        p=item.title
                                                        if val.badge 
                                                            span.right.badge(class=" "+ val.badge_color) val.badge
                            else  
                                li.nav-item   
                                    a.nav-link(href='#')
                                        i(class="nav-icon  " + val.icon)
                                        p
                                            | !{val.title}
                                            i.right.fas.fa-angle-left
                                    ul.nav.nav-treeview
                                        if val.items 
                                            each item of val.items
                                                li.nav-item
                                                    a.nav-link(href=item.href)
                                                        i(class='nav-icon '+item.icon)
                                                        p=item.title
                                                        if val.badge 
                                                            span.right.badge(class=" "+ val.badge_color) val.badge
                        if val.type == 'simple'
                            if val.active
                                li.nav-item.menu-open
                                    a.nav-link.active(href=val.href)
                                        i(class=".nav-icon "+val.icon)
                                        p
                                            | !{val.title}
                                            if val.badge 
                                                span.right.badge(class=" "+ val.badge_color) val.badge
                            else       
                                i.nav-item
                                    a.nav-link(href=val.href)
                                        i(class=".nav-icon "+val.icon)
                                        p
                                            | &nbsp;!{val.title}
                                            if val.badge 
                                                span.right.badge(class=" "+ val.badge_color)=val.badge             

                        if val.type == 'divider'
                            li.nav-header=val.title


                        